.form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin: 20px;
  gap: 20px;
}

.NameOfuser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.form button {
  margin-top: 27px;
}
